<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deathsmiles</title>
    {% block stylesheets %}
        {% stylesheets 'bundles/leaderboard/css/*' %}
        <link rel="stylesheet" href="bundles/leaderboard/css/styles.css" media="all" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<a href="../crimzonclover">Crimzon Clover</a>
<a href="../ikaruga">Ikaruga</a>
<a href="../mushihimesama">Mushihimesama</a><br><br>

<table>
    <tr>
        <th>Casper</th>
        <th>Follett</th>
        <th>Rosa</th>
        <th>Sakura</th>
        <th>Windia</th>
    <tr></tr>
    <tr>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763341-caspar_img.jpg"></td>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763342-foret_img.jpg"></td>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763347-rosa_img.jpg"></td>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/238/613909-sakura_iidx_red_dj.jpg"></td>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763345-windia_img.jpg"></td>
    </tr>
</table>

</body>
</html>