<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mushihimesama</title>
    {% block stylesheets %}
        {% stylesheets 'bundles/leaderboard/css/*' %}
        <link rel="stylesheet" href="bundles/leaderboard/css/styles.css" media="all" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<a href="crimzonclover">Crimzon Clover</a>
<a href="deathsmiles">Deathsmiles</a>
<a href="ikaruga">Ikaruga</a><br><br>
<img src="http://img03.deviantart.net/b34d/i/2011/144/1/c/some_haiku_for_the_rose_by_heylormammy-d3h4ash.jpg"><br>
<img src="http://www.abload.de/img/ultispamc3ups.jpg">
</body>
</html>